%form{:name => "markdown", :id => 'markdown', :action => '/convert', :method => "post"}
  .row
    .col-md-6
      %label{:for => "markdown[title]"} Title:
      %input.form-control{:type => 'text', :name => "markdown[title]"}
      %label{:for => "markdown[subtitle]"} Subtitle:
      %input.form-control{:type => 'text', :name => "markdown[subtitle]"}
      %label{:for => "markdown[author]"} Author:
      %input.form-control{:type => 'text', :name => "markdown[author]"}
      %label{:for => "markdown[email]"} Email:
      %input.form-control{:type => 'text', :name => "markdown[email]"}
      %label{:for => "markdown[phone]"} Phone:
      %input.form-control{:type => 'text', :name => "markdown[phone]"}
      %label{:for => "markdown[version]"} Version:
      %input.form-control{:type => 'text', :name => "markdown[version]"}
    .col-md-6
      %label{:for => "markdown[text]"} Markdown:
      %textarea.form-control{:rows => '20', :name => "markdown[text]"}
      %a.pull-right{:href => "/formatting"} Formatting Help
  .row
    .col-md-12
      %br
      %br
      %input.btn.btn-primary.form-control{:type => "submit", :value => "MarkSport!!"}
