.navbar.navbar-inverse{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} MarkSport
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "/convert"} Convert
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "https://github.com/samurailink3/marksport"} Source
