.row
  .col-md-12
    .jumbotron
      %h1 MarkSport!
      %h2.text-muted It's markdown and export mashed together!
.row
  .col-md-12
    %h3 Easy HTML Export for Documentation
    %p I love Markdown and I love using it for fast and easy documentation. Unfortunately, there wasn't a great way to create one single HTML file that had the rendered markdown, stylesheets, and javascript embedded. Until now.
    %p MarkSport is a stupid application with one purpose: To give you a single HTML file with all the stylish trimmings, that you can archive or send to people. Think of the single file like a lightweight PDF.
    %p Why not just use PDF? Some people don't like them, some people like the nice way bootstrap renders on mobile devices, some people just prefer HTML.
    %h3 Click "Convert" at the top to get started!
    %p After you've filled out the fields, just use "CTRL+S" to save the page as a single file HTML page and you're good!
