!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title MarkSport: The Single-File Exporter for Markdown files
    %link{:href => "/assets/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/assets/css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    %script{:src => "/assets/js/jquery-2.1.1.min.js"}
    %script{:src => "/assets/js/bootstrap.min.js"}
  %body
    = haml :header
    .container
      = yield
    = haml :footer
